[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-quotes = "*"
pep8-naming = "*"
pylint = "*"
pytest = "*"
pytest-runner = "*"
pytest-mock = "*"
coverage = "*"
nbsphinx = "*"
sphinx = "*"
# xlrd = ">=1.0.0" (after Dec 2020 xlsx not supported; use openpyxl)
sphinxcontrib-apidoc = "*"
m2r = "*"
ipykernel = "*"

[packages]
tqdm = "*"
numpy = "*"
pandas = "==1.2.5"
scipy = "*"
statsmodels = "*"
matplotlib = "*"
methylprep = "*"
methylcheck = "*"
pymysql = "*"
toolshed = "*"
interlap = "*"

[requires]
python_version = "3.8"
